---
export const prerender = false // server
import { getCourses } from '@/lib/data/remote/notion/others/learning-path'

const coursesItems = await getCourses()
---

<div>
  <h1>Education</h1>

  <ul class='grid grid-cols-2 gap-2 space-y-1'>
    {
      coursesItems?.map(course => (
        <li class='flex items-center justify-between'>
          <div class='inline-flex mr-1 truncate grow'>
            <span class='mr-2 text-sky-500'>{'>'}</span>
            <a
              class='font-bold text-sm truncate'
              href={course.link}
              target='_blank'
              rel='noreferrer'
            >
              {course.name}
            </a>
          </div>
        </li>
      ))
    }
  </ul>
</div>
