---
import Chip from '@/components/Chip.astro'
import Icons from '@/components/icons/Icons.astro'
import type { Project } from '@/lib/types/projects'

interface Props {
  project: Project
}

const { project } = Astro.props
---

<div class='flex justify-between items-center'>
  <div class='grow inline-flex mr-1 truncate'>
    <span class='text-sky-500 mr-2'> {'—'}</span>

    <a href={project.projectLink} class='font-bold text-sm truncate'
      >{project.name}</a
    >
    {
      project.projectLink != null && (
        <Icons kind='link' class='h-6 w-6 flex-none' />
      )
    }

    {
      !project.isBacklog() && (
        <Chip
          className={[
            {
              'bg-green-200 text-black': project.wasCompleted(),
              'bg-sky-200 text-black': project.isInProgress(),
              'bg-purple-200 text-black': project.isBacklog
            }
          ]}
        >
          {project.status}
        </Chip>
      )
    }
  </div>
</div>
