---
import type { Project } from '@/lib/types/projects.type'

import BaseCard from '@/components/BaseCard.astro'
import InlineItemProject from './InlineItemProject.astro'
import { filterProjects } from '@/utils/filter-projects'

interface Props {
  projects: Project[]
}

const { projects } = Astro.props

const filteredProjects = filterProjects(projects ?? [], 'learning')
  .sort((a, _) => {
    return a.isInProgress() ? -1 : 1
  })
  .slice(0, 5)
---

{
  filteredProjects.length > 0 && (
    <BaseCard title='Learning projects' styles='mt-8'>
      <ul class='space-y-1'>
        {filteredProjects.map(project => {
          return (
            <li>
              <InlineItemProject project={project} />
            </li>
          )
        })}
      </ul>
    </BaseCard>
  )
}
