---
import { Project } from '@/lib/types/projects'
import Icons from '@/components/icons/Icons.astro'

interface Props {
  project: Project
}

const { project } = Astro.props
---

<div
  class='my-2 text-sm font-medium transition text-zinc-400 group-hover:text-primary dark:text-zinc-200'
>
  {
    project.projectLink != null && (
      <a href={project.projectLink} target='_blank' class='flex items-center'>
        <span class='w-2 h-2  bg-green-700 rounded-full' />
        <span class='ml-2'>Project Link</span>
        <Icons kind='link' />
      </a>
    )
  }

  {
    project.projectLink == null && project.isInProgress() && (
      <p class='flex items-center text-zinc-400 gap-x-2'>
        <span class='w-2 h-2 rounded-full bg-sky-700' />
        {project.status}
      </p>
    )
  }

  {
    project.projectLink == null && !project.isInProgress() && (
      <p class='flex items-center text-zinc-400 gap-x-2'>
        <span class='w-2 h-2 bg-red-700 rounded-full' />
        Shut down
      </p>
    )
  }
</div>
