---
import type { Project } from '@/lib/types/projects'

import SectionTitleProjects from './SectionTitleProjects.astro'
import ProjectCard from '@/components/for-pages/projects/ProjectCard.astro'

import { filterProjects } from '@/utils/filter-projects'
import ProjectBackgroudCard from './ProjectBackgroudCard.astro'

interface Props {
  projects: Project[]
}

const { projects } = Astro.props

const activeProjects = filterProjects(projects ?? [], 'active')
const completedProjects = filterProjects(projects ?? [], 'completed')

console.log(completedProjects)
---

<div grid-view class='hidden mt-8'>
  {
    activeProjects.length > 0 && (
      <div>
        <SectionTitleProjects
          title='Now'
          subtitle='Projects I currently work on.'
        />

        <div class='grid sm:grid-cols-2 md:grid-cols-1 lg:grid-cols-2 gap-5'>
          {activeProjects.map(project => (
            <ProjectBackgroudCard project={project} />
          ))}
        </div>
      </div>
    )
  }

  {
    completedProjects.length > 0 && (
      <div class='mt-8'>
        <SectionTitleProjects
          title='Past'
          subtitle='Projects I worked on. Due to the nature of Internet businesses, not all are online.'
        />

        <div class='grid sm:grid-cols-2 md:grid-cols-1 lg:grid-cols-2 gap-5'>
          {completedProjects.map(project => (
            <ProjectBackgroudCard project={project} />
          ))}
        </div>
      </div>
    )
  }
</div>
