---
import type { Project, ProjectFilterState } from '@/lib/types/projects'

import ProjectCard from '@/components/ProjectCard.astro'
import { filterProjects } from './filter-projects'

interface Props {
  title?: string
  subtitle?: string
  projects: Project[]
  filter: ProjectFilterState
}

const { projects, title, subtitle, filter } = Astro.props

const filteredProjects = filterProjects(projects ?? [], filter)
---

<div class='mt-8'>
  {title != null && <h2 class='text-2xl font-bold'>{title}</h2>}
  {subtitle != null && <p class='lg:pb-12 pb-4 text-base'>{subtitle}</p>}

  <div class='grid sm:grid-cols-2 md:grid-cols-1 lg:grid-cols-2 gap-5'>
    {filteredProjects.map(project => <ProjectCard project={project} />)}
  </div>
</div>
