---
import { Image } from 'astro:assets'

import { Project } from '@/lib/types/projects'
import Icons from '@/components/icons/Icons.astro'

interface Props {
  project: Project
}

const { project } = Astro.props

console.log(project.icon)
---

<div
  class='flex items-center justify-center w-10 h-10 mb-2 border border-zinc-200 rounded-lg dark:bg-foreground'
>
  <!-- Show Icon/image project -->
  <!-- Rocket is professional project when no icon-->
  <!-- Start is side project when no icon-->
  {
    project.icon && (
      <Image src={project.icon} width={18} height={18} alt={project.name} />
    )
  }

  {
    project.icon == null && project.isSideProject() && (
      <Icons kind='sideProjects' />
    )
  }

  {
    project.icon == null && project.isProfessional() && (
      <Icons kind='profesional' />
    )
  }
</div>
