---
import type { Project } from '@/lib/types/projects'

import ProjectListItem from './ProjectListItem.astro'
import SectionTitleByStatus from './SectionTitleByStatus.astro'
import { filterProjects } from '@/utils/filter-projects'

interface Props {
  projects: Project[]
}

const { projects } = Astro.props

const activeProjects = filterProjects(projects ?? [], 'active')
const completedProjects = filterProjects(projects ?? [], 'completed')
---

<div list-view class='hidden'>
  {
    activeProjects.length > 0 && (
      <div>
        <SectionTitleByStatus
          title='Now'
          subtitle='Projects I currently work on.'
        />
        <div class='flex flex-col gap-6'>
          {activeProjects.map(project => (
            <ProjectListItem project={project} />
          ))}
        </div>
      </div>
    )
  }

  {
    completedProjects.length > 0 && (
      <div class='mt-20'>
        <SectionTitleByStatus
          title='Past'
          subtitle='Projects I worked on. Due to the nature of Internet businesses, not all are online.'
        />

        <div class='flex flex-col gap-6'>
          {completedProjects.map(project => (
            <ProjectListItem project={project} />
          ))}
        </div>
      </div>
    )
  }
</div>
