---
import BaseCard from '@/components/BaseCard.astro'
import { languages } from '@/lib/data/local/education-data'
---

<BaseCard variant='left' title='Languages'>
  <div>
    <ul class='space-y-2'>
      {
        languages.map(l => {
          return (
            <li class='flex justify-between items-center'>
              <div class='grow inline-flex mr-1.5 truncate'>
                <span class='text-sky-500'>
                  {'> '}
                  {l.icon}
                </span>
                <span class='font-bold text-sm truncate'>{l.label}</span>
              </div>
            </li>
          )
        })
      }
    </ul>
  </div>
</BaseCard>
