---
import type { Page } from 'astro'
import { getCollection } from 'astro:content'

import PageTitle from '@/components/PageTitle.astro'
import PageLayout from '@/layouts/PageLayout.astro'

import Pagination from '@/components/old/Pagination.astro'
import PostsGridView from '@/page-components/blog/PostsGridView.astro'
import PostsListView from '@/page-components/blog/PostsListView.astro'
import SwapViewButtons from '@/components/SwapViewButtons.astro'

import {
  excludeDrafts,
  sortBlogPosts
} from '@/lib/data/data-sources/local/functions'

// @ts-ignore
export async function getStaticPaths({ paginate }) {
  const posts = await getCollection('blog', excludeDrafts).then(sortBlogPosts)
  return paginate(posts, { pageSize: 10 })
}

interface Props {
  page: Page
}

const { page } = Astro.props
const { data: posts } = page
---

<PageLayout metaTitle='Blog'>
  <div class='flex justify-between'>
    <PageTitle
      title='Blog'
      subtitle='A blog built using Contentlayer. Posts are written in MDX.'
    />
    <SwapViewButtons />
  </div>
  <hr class='my-8 border-muted' />

  {page.total == 0 && <p>No posts published.</p>}
  <!-- GRID VIEW -->
  <PostsGridView posts={posts} />

  <!-- LIST VIEW -->
  <PostsListView posts={posts} />

  {(page.url.next || page.url.prev) && <Pagination page={page} />}
</PageLayout>

<script is:inline src='src/scripts/swap-view.js'></script>
