---
import { HEADING_CLASS, HEADING_HOVER, TOP_ID } from './toc'
import type { Headings } from '@/lib/types/data/headings.type'

interface Props {
  headings: Headings[]
}

const { headings } = Astro.props
---

<starlight-toc>
  <nav>
    <h2 class='text-md font-bold uppercase text-zinc-100/80'>On this page</h2>
    <ul>
      <a
        id='preview-heading'
        href={'#' + TOP_ID}
        class:list={[HEADING_CLASS, HEADING_HOVER]}
      >
        Preview
      </a>
      {
        headings.map(heading => (
          <li>
            <a
              href={'#' + heading.slug}
              class:list={[
                HEADING_CLASS,
                HEADING_HOVER,
                {
                  'pl-2': heading.level === 2,
                  'pl-4': heading.level === 3
                }
              ]}
            >
              {heading.text}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</starlight-toc>

<script src='./starlight-toc'></script>

<script>
  const scrollToTopButton = document.getElementById('preview-heading')

  scrollToTopButton?.addEventListener('click', e => {
    e.preventDefault()
    window.scrollTo({ top: 0, behavior: 'smooth' })
  })
</script>

<style>
  a[aria-current='true'] {
    color: var(--color-zinc-100);
    text-decoration: underline;
  }
</style>
