---
import type { MarkdownHeading } from 'astro'
import { getTOC, MAX_HEADING_LEVEL, MIN_HEADING_LEVEL } from './toc'
import TableOfContentItem from './TableOfContentItem.astro'

interface Props {
  headings: MarkdownHeading[]
}

const { headings } = Astro.props

const toc = getTOC(headings)
---

{
  toc && (
    <starlight-toc
      data-min-h={MIN_HEADING_LEVEL}
      data-max-h={MAX_HEADING_LEVEL}
    >
      <nav>
        <h2 class='font-semibold uppercase text-zinc-100/80'>On this page</h2>
        <TableOfContentItem toc={toc} />
      </nav>
    </starlight-toc>
  )
}

<script src='./starlight-toc'></script>
