.copy-code {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #52525b;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  line-height: 1rem;
}

.copy-code:hover {
  background-color: #737373;
}
