pre {
  line-height: 2;
}
pre code .line::before {
  content: counter(line);
  counter-increment: line;
  display: inline-block;
  margin-right: 2rem;
  width: 1rem;
  text-align: right;
  color: #505457;
}
pre > code {
  display: grid;
  counter-reset: line;
}
