/* Typography */
.h1 {
  @apply text-4xl font-[650];
}

.h2 {
  @apply text-2xl font-[650];
}

.h3 {
  @apply text-xl font-[650];
}

.h4 {
  @apply text-lg font-[650];
}

@screen md {
  .h1 {
    @apply text-5xl;
  }

  .h2 {
    @apply text-3xl;
  }

  .h3 {
    @apply text-2xl;
  }
}

/* Buttons */
.btn,
.btn-sm {
  @apply inline-flex items-center justify-center font-sans text-sm font-medium leading-5 transition duration-150 ease-in-out rounded-full whitespace-nowrap;
}

.btn {
  @apply px-4 py-2;
}

.btn-sm {
  @apply px-3 py-1.5;
}

/* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

li::marker {
  color: #000;
}
