---
export const prerender = false // server
import { getLatestBlogPost } from '@/api/blog/blog'

const latestBlogPost = await getLatestBlogPost()
---

<div>
  <h1>Latest</h1>

  <ul class='grid grid-cols-2 gap-2 space-y-1'>
    {
      latestBlogPost?.map(course => (
        <li class='flex items-center justify-between'>
          <div class='inline-flex mr-1 truncate grow'>
            <span class='mr-2 text-sky-500'>{'>'}</span>
            <a
              class='font-bold text-sm truncate'
              href={course.link}
              target='_blank'
              rel='noreferrer'
            >
              {course.title}
            </a>
          </div>
        </li>
      ))
    }
  </ul>
</div>
