---
import type { UsesItem } from '@lib/models/uses-item'
import GridElements from './GridElements.astro'

interface Props {
  title: string
  items?: UsesItem[]
}

const { items, title } = Astro.props
---

{
  items && items.length > 0 && (
    <div class='mt-20'>
      <h2 class='h2'>{title}</h2>
      <GridElements items={items} />
    </div>
  )
}
