---
import type { UsesType } from '@/lib/types/uses.type'

interface Props {
  items?: UsesType[]
}

const { items } = Astro.props
---

<div class='grid grid-cols-1 gap-12 md:grid-cols-3'>
  {
    items?.map(item => (
      <div>
        <h3 class='m-0 text-xl font-medium'>{item.name}</h3>
        <div class='block space-x-4'>
          {item.tags?.map(tag => (
            <span class='text-sm'>#{tag}</span>
          ))}
        </div>
        <div class='mt-4'>
          <p class='m-0 mb-3 text-base'>{item.description}</p>
          {item.link != null ? (
            <a
              href={item.link}
              target='_blank'
              class='text-base border-b border-zinc-800 dark:border-zinc-100'
              rel='noreferrer'
            >
              Check it out
            </a>
          ) : null}
        </div>
      </div>
    ))
  }
</div>
