---
import PageLayout from '@/layouts/PageLayout.astro'
import Hero from '@/components/Hero.astro'
import Button from '@/components/Button.astro'
import PostsListView from '@/components/PostsListView.astro'

import { getPostsData } from '@/lib/data/posts-provider'
import Talks from '@/components/Talks.astro'

const posts = await getPostsData()
const latestPosts = posts.slice(0, 7)
---

<PageLayout metaTitle='jamescardona11'>
  <Hero />
  <section class='space-y-6'>
    <h2 class='text-xl font-[650] mb-3'>Latest Posts</h2>
    <PostsListView posts={latestPosts} />
    <div class='mt-12 sm:mt-16 pb-10'>
      <Button href='/posts'>View All Posts</Button>
    </div>

    <Talks />
  </section>
</PageLayout>

<!-- <p class='italic'>Fortuna audaces iuvat</p> -->
