---
import RootLayout from '@/layouts/root/RootLayout.astro'

import Icons, { type IconKey } from '@/components/icons/Icons.astro'
import { socialNetwork } from '@/data/about-me-data'
import BlogPost from '@/components/latest/BlogPost.astro'
import PageLayout from '@/layouts/PageLayout.astro'
---

<PageLayout title='James Cardona - Home Page'>
  <section class='py-10 space-y-6'>
    <div class='flex flex-col items-center gap-4 text-center'>
      <div class='flex gap-3 mt-2'>
        {
          Object.keys(socialNetwork).map(key => {
            const element = socialNetwork[key]

            return (
              <>
                <li class='flex pt-2'>
                  <Icons
                    kind={element.icon as IconKey}
                    href={element.link}
                    size={5}
                  />
                </li>
              </>
            )
          })
        }
      </div>
      <h1 class='text-3xl font-heading sm:text-5xl md:text-6xl lg:text-7xl'>
        Welcome to my digital domain, I write about coding.
      </h1>
      <p
        class='max-w-[42rem] leading-normal text-muted-foreground sm:text-lg sm:leading-8'
      >
        I share my insights on crafting exceptional products, honing my
        developer prowess, and growing a successful tech career.
      </p>

      <div class='flex items-center justify-center gap-6 mt-4'>
        <div class='relative group'>
          <div
            class='animate-tilt absolute -inset-0.5 rounded-lg bg-gradient-to-r from-pink-600 to-purple-600 opacity-50 blur transition duration-1000 group-hover:opacity-100 group-hover:duration-200'
          >
          </div>
          <a href='/blog'>
            <span
              class='relative flex items-center py-4 leading-none divide-x divide-gray-600 rounded-lg bg-background px-7'
            >
              <span class='flex items-center space-x-5'>
                <!-- <Icons.pageBlog /> -->
                <span class='text-sm'>Read posts</span>
              </span>
            </span>
          </a>
        </div>
        <div class='relative group'>
          <div
            class='animate-tilt absolute -inset-0.5 rounded-lg bg-gradient-to-r from-fuchsia-600 to-emerald-600 opacity-50 blur transition duration-1000 group-hover:opacity-100 group-hover:duration-200'
          >
          </div>
          <span
            class='relative flex items-center py-4 leading-none divide-x divide-gray-600 rounded-lg bg-background px-7'
          >
            <span class='flex items-center space-x-5'>
              <!-- <Icons.command /> -->
              <span class='text-sm'>Press ⌘ + K to start</span>
            </span>
          </span>
        </div>
        <div class='relative group'>
          <div
            class='animate-tilt absolute -inset-0.5 rounded-lg bg-gradient-to-r from-fuchsia-600 to-emerald-600 opacity-50 blur transition duration-1000 group-hover:opacity-100 group-hover:duration-200'
          >
          </div>
        </div>
      </div>

      <!-- <BlogPost /> -->
    </div>
  </section>
</PageLayout>
