---
import Link from '@/components/Link.astro'
import Icons, { type IconKey } from '@/components/icons/Icons.astro'

import PageLayout from '@/layouts/PageLayout.astro'
import { socialNetwork } from '@/lib/data/static/about-me-data'
import { siteMetadata } from '@/site-metadata'
---

<PageLayout metaTitle='James Cardona - Home Page'>
  <section class='space-y-6'>
    <div class='flex flex-col items-center gap-4 text-center'>
      <div class='flex gap-3 mt-2'>
        {
          Object.keys(socialNetwork).map(key => {
            const element = socialNetwork[key]

            return (
              <Icons
                kind={element.icon as IconKey}
                href={element.link}
                size={5}
              />
            )
          })
        }
      </div>
      <h1 class='text-3xl font-heading sm:text-5xl md:text-6xl lg:text-7xl'>
        An example app built using Astro.
      </h1>
      <p
        class='max-w-[42rem] leading-normal text-muted-foreground sm:text-lg sm:leading-8'
      >
        I'm building a web app with Astro and open sourcing everything.
      </p>

      <div class='flex items-center justify-center gap-6 mt-4'>
        <a href='/blog' class='bg-foreground rounded-lg'>
          <span
            class='relative flex items-center py-3 leading-none divide-x divide-gray-600 rounded-lg px-7'
          >
            <span class='flex items-center space-x-5'>
              <span class='text-sm text-background'>Read posts</span>
            </span>
          </span>
        </a>

        <a href={siteMetadata.siteRepo} class='bg-background rounded-lg border'>
          <span
            class='relative flex items-center py-3 leading-none divide-x divide-gray-600 rounded-lg px-7'
          >
            <span class='flex items-center space-x-5'>
              <span class='text-sm text-foreground'>Github</span>
            </span>
          </span>
        </a>

        <div class='relative group'>
          <div
            class='animate-tilt absolute -inset-0.5 rounded-lg bg-gradient-to-r from-fuchsia-600 to-emerald-600 opacity-50 blur transition duration-1000 group-hover:opacity-100 group-hover:duration-200'
          >
          </div>
        </div>
      </div>
    </div>

    <section
      id='features'
      class='container space-y-6 bg-slate-50 py-8 dark:bg-transparent md:py-12 lg:py-24'
    >
      <div
        class='mx-auto flex max-w-[58rem] flex-col items-center space-y-4 text-center'
      >
        <h2 class='font-heading text-3xl leading-[1.1] sm:text-3xl md:text-6xl'>
          Features
        </h2>
        <p
          class='max-w-[85%] leading-normal text-muted-foreground sm:text-lg sm:leading-7'
        >
          This project is an experiment to see how a modern app, with features
          using MDX, Notion API and more, can be built using Astro. Astro.
        </p>
      </div>
      <div
        class='mx-auto grid justify-center gap-4 sm:grid-cols-2 md:max-w-[64rem] md:grid-cols-3'
      >
        <div
          class='relative overflow-hidden rounded-lg border bg-background p-2'
        >
          <div class='flex h-[180px] flex-col justify-between rounded-md p-6'>
            <svg viewBox='0 0 24 24' class='h-12 w-12 fill-current'>
              <path
                fill='currentColor'
                d='M8.358 20.162c-1.186-1.07-1.532-3.316-1.038-4.944c.856 1.026 2.043 1.352 3.272 1.535c1.897.283 3.76.177 5.522-.678c.202-.098.388-.229.608-.36c.166.473.209.95.151 1.437c-.14 1.185-.738 2.1-1.688 2.794c-.38.277-.782.525-1.175.787c-1.205.804-1.531 1.747-1.078 3.119l.044.148a3.158 3.158 0 0 1-1.407-1.188a3.31 3.31 0 0 1-.544-1.815c-.004-.32-.004-.642-.048-.958c-.106-.769-.472-1.113-1.161-1.133c-.707-.02-1.267.411-1.415 1.09c-.012.053-.028.104-.045.165h.002zm-5.961-4.445s3.24-1.575 6.49-1.575l2.451-7.565c.092-.366.36-.614.662-.614c.302 0 .57.248.662.614l2.45 7.565c3.85 0 6.491 1.575 6.491 1.575L16.088.727C15.93.285 15.663 0 15.303 0H8.697c-.36 0-.615.285-.784.727l-5.516 14.99z'
              ></path>
            </svg>

            <div class='space-y-2'>
              <h3 class='font-bold'>Astro</h3>
              <p class='text-sm text-muted-foreground'>
                App dir, Routing, Layouts, Loading UI and API routes.
              </p>
            </div>
          </div>
        </div>
        <div
          class='relative overflow-hidden rounded-lg border bg-background p-2'
        >
          <div class='flex h-[180px] flex-col justify-between rounded-md p-6'>
            <svg class='h-12 w-12 fill-current' viewBox='0 0 24 24'
              ><path
                fill='currentColor'
                d='M.79 7.12h22.42c.436 0 .79.355.79.792v8.176a.79.79 0 0 1-.79.79H.79a.79.79 0 0 1-.79-.79V7.912a.79.79 0 0 1 .79-.791V7.12Zm2.507 7.605v-3.122l1.89 1.89L7.12 11.56v3.122h1.055v-5.67l-2.99 2.99L2.24 9.056v5.67h1.055v-.001Zm8.44-1.845l-1.474-1.473l-.746.746l2.747 2.747l2.745-2.747l-.746-.746l-1.473 1.473v-4h-1.054v4Zm10.041.987l-2.175-2.175l2.22-2.22l-.746-.746l-2.22 2.22l-2.22-2.22l-.747.746l2.22 2.22l-2.176 2.177l.746.746l2.177-2.177l2.176 2.175l.745-.746Z'
              ></path></svg
            >
            <div class='space-y-2'>
              <h3 class='font-bold'>React 18</h3>
              <p class='text-sm'>Server and Client Components. Use hook.</p>
            </div>
          </div>
        </div>
        <div
          class='relative overflow-hidden rounded-lg border bg-background p-2'
        >
          <div class='flex h-[180px] flex-col justify-between rounded-md p-6'>
            <svg class='h-12 w-12' viewBox='0 0 24 24'
              ><path
                fill='currentColor'
                d='M21.807 18.285L13.553.757a1.324 1.324 0 0 0-1.129-.755a1.31 1.31 0 0 0-1.206.626l-8.952 14.5a1.356 1.356 0 0 0 .016 1.455l4.376 6.778a1.408 1.408 0 0 0 1.58.581l12.703-3.757c.389-.115.707-.39.873-.755s.164-.783-.007-1.145zm-1.848.752L9.18 22.224a.452.452 0 0 1-.575-.52l3.85-18.438c.072-.345.549-.4.699-.08l7.129 15.138a.515.515 0 0 1-.325.713z'
              ></path></svg
            >
            <div class='space-y-2'>
              <h3 class='font-bold'>Database</h3>
              <p class='text-sm text-muted-foreground'>
                ORM using Prisma and deployed on PlanetScale.
              </p>
            </div>
          </div>
        </div>
        <div
          class='relative overflow-hidden rounded-lg border bg-background p-2'
        >
          <div class='flex h-[180px] flex-col justify-between rounded-md p-6'>
            <svg viewBox='0 0 24 24' class='h-12 w-12 fill-current'>
              <path
                d='M12.001 4.8c-3.2 0-5.2 1.6-6 4.8 1.2-1.6 2.6-2.2 4.2-1.8.913.228 1.565.89 2.288 1.624C13.666 10.618 15.027 12 18.001 12c3.2 0 5.2-1.6 6-4.8-1.2 1.6-2.6 2.2-4.2 1.8-.913-.228-1.565-.89-2.288-1.624C16.337 6.182 14.976 4.8 12.001 4.8zm-6 7.2c-3.2 0-5.2 1.6-6 4.8 1.2-1.6 2.6-2.2 4.2-1.8.913.228 1.565.89 2.288 1.624 1.177 1.194 2.538 2.576 5.512 2.576 3.2 0 5.2-1.6 6-4.8-1.2 1.6-2.6 2.2-4.2 1.8-.913-.228-1.565-.89-2.288-1.624C10.337 13.382 8.976 12 6.001 12z'
              ></path>
            </svg>
            <div class='space-y-2'>
              <h3 class='font-bold'>Components</h3>
              <p class='text-sm text-muted-foreground'>
                UI components built using Radix UI and styled with Tailwind CSS.
              </p>
            </div>
          </div>
        </div>
        <div
          class='relative overflow-hidden rounded-lg border bg-background p-2'
        >
          <div class='flex h-[180px] flex-col justify-between rounded-md p-6'>
            <svg class='h-12 w-12' viewBox='0 0 24 24'
              ><g fill='none' fill-rule='evenodd'
                ><path
                  d='M24 0v24H0V0h24ZM12.594 23.258l-.012.002l-.071.035l-.02.004l-.014-.004l-.071-.036c-.01-.003-.019 0-.024.006l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.016-.018Zm.264-.113l-.014.002l-.184.093l-.01.01l-.003.011l.018.43l.005.012l.008.008l.201.092c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022Zm-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.003-.011l.018-.43l-.003-.012l-.01-.01l-.184-.092Z'
                ></path><path
                  fill='currentColor'
                  d='m17.94 2.434l.19.117l1.98 1.32a2 2 0 0 1 .883 1.498l.007.166v12.539a2 2 0 0 1-1.692 1.976l-.155.018l-11.529.887a2 2 0 0 1-1.646-.663l-.107-.131L3.6 17.133a3 3 0 0 1-.592-1.584L3 15.333V4.926A2 2 0 0 1 4.692 2.95l.155-.018l11.388-.876a3 3 0 0 1 1.704.378ZM19 7.08L8 7.926V18.92l11-.846V7.08ZM16 8.5a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1h-.5a1 1 0 0 1-.852-.476L12 12.72V17a1 1 0 1 1-2 0v-7a1 1 0 0 1 1-1h.5a1 1 0 0 1 .852.476L15 13.779V9.5a1 1 0 0 1 1-1Zm.388-4.45l-10.143.78l1.137 1.137l10.998-.845l-1.36-.907a1 1 0 0 0-.632-.165Z'
                ></path></g
              ></svg
            >
            <div class='space-y-2'>
              <h3 class='font-bold'>Authentication</h3>
              <p class='text-sm text-muted-foreground'>
                Authentication using NextAuth.js and middlewares.
              </p>
            </div>
          </div>
        </div>
        <div
          class='relative overflow-hidden rounded-lg border bg-background p-2'
        >
          <div class='flex h-[180px] flex-col justify-between rounded-md p-6'>
            <svg class='h-12 w-12' viewBox='0 0 15 15'
              ><path
                fill='none'
                stroke='currentColor'
                d='M12.5 8v-.167c0-.736-.597-1.333-1.333-1.333H10a1.5 1.5 0 1 0 0 3h1a1.5 1.5 0 0 1 0 3h-1A1.5 1.5 0 0 1 8.5 11M8 6.5H3m2.5 0V13M.5.5h14v14H.5V.5Z'
              ></path></svg
            >
            <div class='space-y-2'>
              <h3 class='font-bold'>Subscriptions</h3>
              <p class='text-sm text-muted-foreground'>
                Free and paid subscriptions using Stripe.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class='mx-auto text-center md:max-w-[58rem]'>
        <p class='leading-normal text-muted-foreground sm:text-lg sm:leading-7'>
          Taxonomy also includes a blog and a full-featured documentation site
          built using Contentlayer and MDX.
        </p>
      </div>
    </section>

    <!-- Source code -->
    <section id='open-source' class='container py-8 md:py-12 lg:py-24'>
      <div
        class='mx-auto flex max-w-[58rem] flex-col items-center justify-center gap-4 text-center'
      >
        <h2 class='font-heading text-3xl leading-[1.1] sm:text-3xl md:text-6xl'>
          Proudly Open Source
        </h2>
        <p
          class='max-w-[85%] leading-normal text-muted-foreground sm:text-lg sm:leading-7'
        >
          This page is open source and powered by open source software. <br />{
            ' '
          }
           The code is available on{' '}
          <Link
            href={siteMetadata.siteRepo}
            target='_blank'
            rel='noreferrer'
            class='underline underline-offset-4'
          >
            GitHub
          </Link>
           .{' '}
        </p>
        <Link
          href={siteMetadata.siteRepo}
          target='_blank'
          rel='noreferrer'
          class='flex'
        >
          <div
            class='flex items-center justify-center w-10 h-10 space-x-2 border rounded-lg border-muted bg-muted'
          >
            <svg
              xmlns='http://www.w3.org/2000/svg'
              fill='currentColor'
              viewBox='0 0 24 24'
              class='w-5 h-5 text-foreground'
            >
              <path
                d='M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z'
              ></path>
            </svg>
          </div>
          <div class='flex items-center'>
            <div
              class='w-4 h-4 border-l-0 border-r-8 border-solid border-y-8 border-muted border-y-transparent'
            >
            </div>
            <div
              class='flex items-center h-10 px-4 font-medium border rounded-lg border-muted bg-muted'
            >
              Add Star on GitHub
            </div>
          </div>
        </Link>
      </div>
    </section>
  </section>
</PageLayout>
