---
import PageTitle from '@/components/PageTitle.astro'
import BacklogCard from '@/components/for-pages/projects/BacklogCard.astro'
import LearningProjectsCard from '@/components/for-pages/projects/LearningProjectsCard.astro'
import ProjectsList from '@/components/for-pages/projects/ProjectsList.astro'
import PageLayout from '@/layouts/PageLayout.astro'
---

<PageLayout metaTitle="Things I've made in an attempt to make my mark">
  <PageTitle
    title="Things I've made in an attempt to make my mark"
    subtitle="Goal: Don't stop learning."
  />
  <ProjectsList
    title='Now'
    subtitle='Projects I currently work on.'
    filter='active'
    projects={projects.data}
  />

  <ProjectsList
    title='Past'
    subtitle='Projects I worked on. Due to the nature of Internet businesses, not all are online.'
    filter='completed'
    projects={projects.data}
  />

  <h2 class='text-2xl font-bold mt-8'>Others</h2>

  <BacklogCard filter='backlog' projects={projects.data} />
  <LearningProjectsCard filter='learning' projects={projects.data} />
</PageLayout>
