---
import PageLayout from '@/layouts/PageLayout.astro'
import PageTitle from '@/components/PageTitle.astro'
import SwapViewButtons from '@/components/SwapViewButtons.astro'
import BacklogCard from '@/components/for-pages/projects/BacklogCard.astro'
import LearningProjectsCard from '@/components/for-pages/projects/LearningProjectsCard.astro'
import ProjectsGridView from '@/components/for-pages/projects/ProjectsGridView.astro'

import { getProjectsData } from '@/lib/data/projects-provider'
import ProjectsListView from '@/components/for-pages/projects/ProjectsListView.astro'

const projects = await getProjectsData()
---

<PageLayout metaTitle="Things I've made in an attempt to make my mark">
  <div class='flex justify-between'>
    <PageTitle
      title="Things I've made in an attempt to make my mark"
      subtitle="Goal: Don't stop learning."
    />
    <SwapViewButtons defaultView='list' />
  </div>

  <hr class='my-8 border-muted' />

  {projects.length == 0 && <p>No projects published.</p>}

  <!-- GRID VIEW -->
  <ProjectsGridView projects={projects} />

  <!-- LIST VIEW -->
  <ProjectsListView projects={projects} />

  <h2 class='text-2xl font-bold mt-20'>Others</h2>

  <BacklogCard filter='backlog' projects={projects} />
  <LearningProjectsCard filter='learning' projects={projects} />
</PageLayout>
