---
import TwoColumnsLayout from '@/layouts/two-columns/TwoColumnsLayout.astro'
import MiddleArea from '@/layouts/two-columns/MiddleArea.astro'
import RightSide from '@/layouts/two-columns/RightSide.astro'

import DownloadCVCard from '@/components/resume/CVCard.astro'
import LanguagesCard from '@/components/resume/LanguagesCard.astro'
---

<TwoColumnsLayout metaTitle='My Resume'>
  <MiddleArea>
    <h1>Resume 1</h1>
  </MiddleArea>
  <RightSide styles='space-y-6'>
    <LanguagesCard />
    <DownloadCVCard />
  </RightSide>
</TwoColumnsLayout>
