---
import RootLayout from '@/layouts/root/RootLayout.astro'
import CoursesSection from '@/components/resume/CoursesSection.astro'
---

<RootLayout metaTitle='Resume'>
  <h1>Resume</h1>
  <!-- <CoursesSection /> -->
</RootLayout>
