---
import RootLayout from '@/layouts/root/RootLayout.astro'
import CoursesSection from '@/components/resume/CoursesSection.astro'
import { CoursesSection2 } from '@/components/resume/CoursesSection'
---

<RootLayout title='Resume'>
  <h1>Resume</h1>
  <CoursesSection />
  <!-- <CoursesSection2 client:visible /> -->
</RootLayout>
