---
import Link from '@/components/Link.astro'

import PageLayout from '@/layouts/PageLayout.astro'

import Reactions from '@/components/reactions/reactions'
import PageTitle from '@/components/PageTitle.astro'

import { getUsesData } from '@/lib/data/uses-provider'
import UsesTabs from '@/components/for-pages/uses/UsesTabs.astro'

const usesByCategory = await getUsesData()
---

<PageLayout metaTitle='Uses - tools'>
  <PageTitle
    title='What do I use?'
    subtitle='Hardware and Software I use every day.'
  />

  <div class='w-full h-12 my-4'>
    <Reactions client:idle slug='uses_page' />
  </div>

  <UsesTabs usesByCategory={usesByCategory} />

  <p class='mt-20 text-base'>
    Influenced by{' '}
    <Link
      href='https://www.braydoncoyer.dev/'
      target='_blank'
      class='text-base border-b border-zinc-800 dark:border-zinc-100'
      rel='noreferrer'
    >
      Braydon Coyer
    </Link>
  </p>
</PageLayout>
 @/lib/data/providers/uses-provider @/lib/data/uses-provider
