---
import BaseCard from '@components/BaseCard.astro'
import Link from '@components/Link.astro'
import Icons, { type IconKey } from '@components/icons/Icons.astro'
import { socialNetwork } from '@/lib/social-network-links'
---

<BaseCard title='Connect with me'>
  <ul class='space-y-2'>
    {
      Object.keys(socialNetwork).map(key => {
        const element = socialNetwork[key]
        return (
          <li>
            <Link href={element.link} class='flex items-center'>
              <Icons kind={element.icon as IconKey} />
              <span class='ml-4 font-medium text-base text-foreground '>
                {element.name}
              </span>
            </Link>
          </li>
        )
      })
    }
  </ul>
</BaseCard>
 @/lib/social-network-links
