---
import { Image } from 'astro:assets'
import { hexToRgb } from '@/utils/color'

import BaseCard from '@components/BaseCard.astro'
import type { SkillType } from '@/lib/types/skill.type'

interface Props {
  skills: SkillType[]
}

const { skills } = Astro.props
---

<BaseCard title='Main Skills' variant='left'>
  <ul class='mt-6 flex flex-wrap gap-x-2 gap-y-2'>
    {
      skills
        .reverse()
        .slice(0, 8)
        .map(skill => {
          const { name, color = '#4BC0EF', icon } = skill
          const newColor = hexToRgb(color, 0)

          return (
            <li>
              <div
                class:list={[
                  'h-[32px] flex items-center rounded-full hover:text-primary border border-zinc-300 dark:border-zinc-700 gap-2 px-2.5 py-1 text-xs  text-zinc-600  dark:text-zinc-200 dark:hover:text-primary transition hocus:underline-none hocus:text-primary-txt hocus:bg-divider dark:hocus:bg-divider hocus:transform hocus:scale-[1.015]',
                  'hover:bg-[rgba(var(--custom-color)/0.30)]',
                  'dark:hover:bg-[rgba(var(--custom-color)/0.18)]',
                  'hover:border-[rgba(var(--custom-color)/0.56)]'
                ]}
                style={{ '--custom-color': newColor }}
              >
                {icon && <Image src={icon} alt={name} width={16} height={16} />}
                <span class={'font-[500]'}>{name}</span>
              </div>
            </li>
          )
        })
    }
  </ul>
</BaseCard>
