---
import MobileNav from '@/components/nav/mobile/MobileNav.astro'
import { navItemsList } from '../nav-items'
import MenuItem from '../MenuItem.astro'
import ThemeSwitcher from './ThemeSwitcher.astro'
---

<header class='container mx-auto max-w-[58rem]'>
  <div class='flex items-center justify-between h-20 py-6'>
    <div class='hidden sm:block'>
      <nav class='flex items-center gap-4'>
        {
          navItemsList.map(navItem => {
            return <MenuItem navItem={navItem} />
          })
        }
      </nav>
    </div>
    <MobileNav />
  </div>

  <div class='absolute right-4 xl:right-10 top-6 z-10'>
    <ThemeSwitcher />
  </div>
</header>
