---
import Logo from '@/components/Logo.astro'
import Link from '@/components/Link.astro'

import MobileNav from '@/components/nav/mobile/MobileNav.astro'
import ThemeSwitcher from './components/ThemeSwitcher.astro'
import { navItemsList } from '../nav-items'
import { SubMenuItem } from './components/SubMenuItem'
import MenuItem from './components/MenuItem.astro'

import { siteMetadata } from '@/data/site-metadata'
---

<header class='container'>
  <div class='flex items-center justify-between h-20 py-6'>
    <div>
      <Link
        href='/'
        aria-label={siteMetadata.name}
        class='flex items-center space-x-2'
      >
        <Logo />
        <span class='hidden font-bold leading-5 text-md sm:inline-block'>
          {siteMetadata.name}
        </span>
      </Link>
    </div>
    <div class='hidden sm:block'>
      <nav class='flex items-center gap-4'>
        {
          navItemsList
            .filter(e => e.hideNavigation == null || !e.hideNavigation)
            .map(navItem => {
              if (navItem.subMenu != null) {
                return <SubMenuItem client:load navItem={navItem} />
              }

              return <MenuItem navItem={navItem} />
            })
        }

        <ThemeSwitcher />
      </nav>
    </div>
    <MobileNav />
  </div>
</header>
