<button id='switch-theme' class='w-8 h-8 px-0' aria-label='Toggle Dark Mode'>
  <svg
    xmlns='http://www.w3.org/2000/svg'
    viewBox='0 0 20 20'
    fill='currentColor'
    class='text-zinc-900 dark:text-zinc-100 h-5 w-5'
  >
    <circle cx='8' cy='8' r='8' class='sun hidden'></circle>
    <circle cx='8' cy='8' r='8' class='moon'></circle>
  </svg>
</button>

<script src='/src/scripts/switch-theme.js'></script>
