---
import { Code } from 'astro/components'
import { getCodeLang } from '@/components/notion/code-lang'
import type { CodeBlock } from '@/lib/core/notion-core/notion-blocks'

interface Props {
  block: CodeBlock
}

const { block } = Astro.props
const lang = getCodeLang(block.lang)

const code = block.richText.content.map(c => c.text).join('')
---

<div id='code-block'>
  <Fragment>
    <Code code={code} lang={lang} />
  </Fragment>
</div>

<script src='/src/scripts/copy-button.js'></script>
