---
import Link from '@components/Link.astro'
import Icons from '@components/icons/Icons.astro'

interface Props {
  hashLink: string
  text: string
}

const { hashLink, text } = Astro.props
---

<div class='flex items-center'>
  <Link href={`#${hashLink}`}>{text}</Link>
  <Icons kind='link' />
</div>
