---
import type { Media } from '@/lib/core/notion-core/notion-blocks'
import Link from '@components/Link.astro'
import Icons from '@components/icons/Icons.astro'

interface Props {
  block: Media
}
const { block: file } = Astro.props
---

<figure>
  <div class='flex gap-1 text-gray-700 dark:text-zinc-400'>
    <Link
      class='flex gap-1 text-gray-700 dark:text-zinc-400'
      href={file.url}
      pass-href={true}
    >
      <Icons kind='file' class='s' />
      {file.name}
    </Link>
    {
      file.caption !== '' && (
        <figcaption class='text-sm'>
          {' ** '} {file.caption}
        </figcaption>
      )
    }
  </div>
</figure>
