---
import type { RichText } from '@/lib/data/notion-core/notion-blocks'

interface Props {
  block: RichText
}

const { block: text } = Astro.props
---

{
  text.content.map(b => {
    return (
      <span class={b.styles}>
        {b.url != null ? (
          <a class='text-gray-700 dark:text-zinc-400 underline' href={b.text}>
            {b.text}
          </a>
        ) : (
          b.text
        )}
      </span>
    )
  })
}
