---
import type { RichText } from '@/lib/data/notion-core/notion-blocks'
import Break from './Break.astro'

interface Props {
  block: RichText
}

const { block: richText } = Astro.props
---

{
  richText.content.map(b => {
    return b.text == '\n' ? (
      <Break />
    ) : (
      <span class={b.styles}>
        {b.url != null ? (
          <a class='text-gray-700 dark:text-zinc-400 underline' href={b.url}>
            {b.text}
          </a>
        ) : (
          b.text
        )}
      </span>
    )
  })
}
