---
import type { OrderedList } from '@/lib/core/notion-core/notion-blocks'
import NotionText from './NotionText.astro'

interface Props {
  block: OrderedList
}

const { block } = Astro.props
---

<ul class=''>
  {
    block.items.map((listItem, index) => {
      return (
        <li class='flex items-center space-x-2'>
          <span class='font-medium text-foreground'>{index + 1}.</span>
          <p>
            <NotionText block={listItem.richText} />
          </p>
        </li>
      )
    })
  }
</ul>
