---
import type { TodoList } from '@/lib/core/notion-core/notion-blocks'
import NotionText from './NotionText.astro'

interface Props {
  block: TodoList
}

const { block } = Astro.props
---

<ul class=''>
  {
    block.items.map((listItem, index) => {
      return (
        <label class='flex items-center justify-start space-x-3'>
          <input
            id={index.toString()}
            name={index.toString()}
            type='checkbox'
            checked={listItem.checked}
            read-only
            disabled
            class='w-3 h-3 text-zinc-400 border-zinc-300 rounded'
          />
          <p
            style={{
              textDecoration: listItem.checked ? 'line-through' : 'initial'
            }}
          >
            <NotionText block={listItem.richText} />
          </p>
        </label>
      )
    })
  }
</ul>
