---
interface Props {
  position?: 'left' | 'right'
  title?: string
}

const { position = 'left', title } = Astro.props
---

<div
  class:list={[
    'relative italic text-muted-foreground',
    {
      'xl:!col-start-2': position === 'left',
      'xl:!col-start-4': position === 'right'
    }
  ]}
>
  <div class='relative xl:absolute xl:top-0 xl:left-0 xl:right-0'>
    {
      title ? (
        <div class='mb-2 text-base italic text-opacity-100'>{title}</div>
      ) : null
    }

    <slot />
  </div>
</div>
