---
interface Props {
  variant?: 'left' | 'right' | 'none'
  title?: string

  styles?: string
  showHover?: boolean
}

const {
  variant = 'none',
  title,

  styles,
  showHover = false
} = Astro.props
---

<div
  class:list={[
    styles,
    'p-5 rounded-lg border border-zinc-200 dark:border-muted dark:bg-muted',
    {
      '-rotate-1': variant === 'left',
      'rotate-1': variant === 'right'
    },
    {
      'hover:border-zinc-300 dark:hover:border-zinc-700': showHover
    }
  ]}
>
  <div class='font-sans font-[650] mb-3'>{title}</div>
  <slot />
</div>
