---
interface Props {
  date: Date
}

const { date } = Astro.props
---

<span class='text-zinc-400 dark:text-zinc-400'>
  Published on
  <time datetime={date.toISOString()}>
    {
      date.toLocaleDateString('en-us', {
        year: 'numeric',
        month: 'short',
        day: 'numeric'
      })
    }
  </time>
</span>
