---
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'a'>

const { href, ...rest } = Astro.props

const isInternalLink = href && href.toString().startsWith('/')
const isAnchorLink = href && href.toString().startsWith('#')
const isEmpty = href === undefined || href?.toString().trim() === ''

console.log('isInternalLink', isInternalLink)
console.log('isAnchorLink', isAnchorLink)
---

{
  isEmpty && (
    <div {...rest}>
      <slot />
    </div>
  )
}

{
  (isInternalLink || isAnchorLink) && (
    <a href={href} {...rest}>
      <slot />
    </a>
  )
}

{
  !isInternalLink && !isAnchorLink && !isEmpty && (
    <a target='_blank' rel='noopener noreferrer' href={href} {...rest}>
      <slot />
    </a>
  )
}
