---
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'a'>

const { href, ...rest } = Astro.props

const isInternalLink = href && href.toString().startsWith('/')
const isAnchorLink = href && href.toString().startsWith('#')
const isEmpty = !href || href.toString().trim() === ''
---

{
  isEmpty ? (
    <div>
      <slot />
    </div>
  ) : isInternalLink || isAnchorLink ? (
    <a href={href} {...rest}>
      <slot />
    </a>
  ) : (
    <a target='_blank' rel='noopener noreferrer' href={href} {...rest}>
      <slot />
    </a>
  )
}
