---
interface Props {
  title: string
  subtitle?: string
}

const { title, subtitle } = Astro.props
---

<>
  <h1
    class='h1 mb-4 font-sans tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-5xl'
  >
    {title}
  </h1>
  {subtitle && <p class='pb-8 text-base'>{subtitle}</p>}
</>
