---
interface Props {
  title: string
  subtitle?: string
}

const { title, subtitle } = Astro.props
---

<div>
  <h1
    class:list={[
      'h1 mb-2 font-[650] tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-4xl '
    ]}
  >
    {title}
  </h1>
  {subtitle && <p class='pb-1 text-lg text-muted-foreground'>{subtitle}</p>}
</div>
