<div class='flex items-center'>
  <!-- icon-list-button: This works as the selector for the script that changes the views  -->
  <svg
    icon-list-button
    class='hidden'
    width='24'
    height='24'
    viewBox='0 0 24 24'
    stroke-width='2'
    stroke='currentColor'
    fill='none'
    stroke-linecap='round'
    stroke-linejoin='round'
  >
    <path stroke='none' d='M0 0h24v24H0z' fill='none'></path>
    <path d='M9 6l11 0'></path>
    <path d='M9 12l11 0'></path>
    <path d='M9 18l11 0'></path>
    <path d='M5 6l0 .01'></path>
    <path d='M5 12l0 .01'></path>
    <path d='M5 18l0 .01'></path>
  </svg>

  <!-- icon-grid-button: This works as the selector for the script that changes the views  -->
  <svg
    icon-grid-button
    class='hidden'
    width='24'
    height='24'
    viewBox='0 0 24 24'
    stroke-width='2'
    stroke='currentColor'
    fill='none'
    stroke-linecap='round'
    stroke-linejoin='round'
  >
    <path stroke='none' d='M0 0h24v24H0z' fill='none'></path>
    <path
      d='M4 4m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z'
    >
    </path>
    <path
      d='M14 4m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z'
    ></path>
    <path
      d='M4 14m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z'
    ></path>
    <path
      d='M14 14m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z'
    >
    </path>
  </svg>
</div>

<script src='/src/scripts/swap-view.js'></script>
