---
interface Props {
  tags: string[]
}

const { tags } = Astro.props
---

{
  tags.length > 0 && (
    <div class='mt-2 flex gap-2 items-center text-sm text-foreground/60'>
      <div class='w-full md:w-auto flex flex-wrap gap-3'>
        {tags?.map(tag => (
          <a href={`/tags/${tag?.toLowerCase()}`}>#{tag.toLowerCase()}</a>
        ))}
      </div>
    </div>
  )
}
