---
import YoutubeEmbed from '@/components/notion/blocks/YoutubeEmbed.astro'

import { getVideosData } from '@/lib/data/videos-provider'

const videos = await getVideosData()

const empty = videos.length === 0
---

{
  !empty && (
    <section>
      <h2 class='font-aspekta text-xl font-[650] mb-5'>Popular Talks</h2>

      {/* Cards */}
      <div class='grid sm:grid-cols-2 md:grid-cols-1 lg:grid-cols-2 gap-5'>
        <a
          class='relative aspect-video rounded-lg overflow-hidden bg-gradient-to-tr from-slate-800 to-slate-700 odd:rotate-1 even:-rotate-1 hover:rotate-0 transition-transform duration-700 hover:duration-100 ease-in-out shadow-xl'
          href='#0'
        >
          <YoutubeEmbed url={videos[0]} />

          <div class='h-full relative flex flex-col items-start justify-between before:mt-auto before:flex-1 p-5' />
        </a>
        {videos.length > 1 && (
          <a
            class='relative aspect-video rounded-lg overflow-hidden bg-gradient-to-tr from-slate-800 to-slate-700 odd:rotate-1 even:-rotate-1 hover:rotate-0 transition-transform duration-700 hover:duration-100 ease-in-out shadow-xl'
            href='#0'
          >
            <YoutubeEmbed url={videos[0]} />
          </a>
        )}
      </div>
    </section>
  )
}
