---
import PostLayout from '@/layouts/content/ContentLayout.astro'

import {
  getProjectContent,
  getProjectsData
} from '@/lib/data/projects-provider'
import type { Project } from '@/lib/types/projects.type'
import RenderBlocks from '@/components/notion/RenderBlocks.astro'
import Reactions from '@/components/reactions/reactions'

export async function getStaticPaths() {
  const projects = await getProjectsData()

  return projects.map(project => ({
    params: { slug: project.slug },
    props: { project }
  }))
}

interface Props {
  project: Project
}

const { project } = Astro.props

const result = await getProjectContent(project)

const { Content } = result
const { blocks } = result
---

<PostLayout>
  <!-- TOP -->
  <div>
    <h1 class='text-2xl font-medium sm:text-3xl'>{project.name}</h1>
  </div>

  <div class='w-full h-12'>
    <Reactions client:idle slug={project.slug} />
  </div>

  <!-- Content is the Astro:content object -->
  {
    Content && (
      <div class='pt-10 pb-8 prose max-w-none dark:prose-invert'>
        <Content />
      </div>
    )
  }

  <!-- blocks is the data from notion -->
  {blocks && <RenderBlocks blocks={blocks} />}
</PostLayout>
