---
import Header from '@/components/nav/header/Header.astro'
import BaseHead from './BaseHead.astro'
import Footer from '@/components/nav/footer/Footer.astro'

interface Props {
  metaTitle?: string
  metaDescription?: string
}

const { metaTitle: title, metaDescription: description } = Astro.props
---

<html lang='en' class='scroll-smooth'>
  <BaseHead metaTitle={title} metaDescription={description} />
  <body
    class='flex flex-col justify-between min-h-screen font-sans antialiased bg-background text-foreground'
  >
    <Header />
    <main class='container flex flex-col py-16 mx-auto mb-auto md:py-20'>
      <slot />
    </main>
    <Footer />
  </body>
</html>
