---
import Header from '@/components/nav/header/Header.astro'
import BaseHead from './BaseHead.astro'
import SectionContainer from '../SectionContainer.astro'
import Footer from '@/components/nav/footer/Footer.astro'

interface Props {
  metaTitle?: string
  metaDescription?: string
}

const { metaTitle: title, metaDescription: description } = Astro.props
---

<html lang='en' class='scroll-smooth'>
  <BaseHead metaTitle={title} metaDescription={description} />
  <body
    class='font-sans antialiased bg-background text-foreground flex flex-col justify-between min-h-screen'
  >
    <Header />
    <SectionContainer>
      <slot />
    </SectionContainer>
    <Footer />
  </body>
</html>
