---
import { ViewTransitions } from 'astro:transitions'

import BaseHead from './BaseHead.astro'
import Header from '@/components/nav/header/Header.astro'
import CommandPalette from '@/components/command-menu/command-palette'

interface Props {
  title: string
  description?: string
}

const { title, description } = Astro.props
---

<html lang='en' class='scroll-smooth'>
  <ViewTransitions />
  <BaseHead title={title} description={description} />
  <body class='font-sans antialiased bg-background text-foreground'>
    <Header />
    <CommandPalette client:load>
      <main class='mb-auto'>
        <slot />
      </main>
    </CommandPalette>
  </body>
</html>
