---
import Mail from './source/Mail.astro'
import Github from './source/Github.astro'
import Youtube from './source/Youtube.astro'
import Linkedin from './source/Linkedin.astro'
import Twitter from './source/Twitter.astro'
import Mastodon from './source/Mastodon.astro'

const components = {
  github: Github,
  youtube: Youtube,
  linkedin: Linkedin,
  x: Twitter,
  mastodon: Mastodon,
  mail: Mail
}

type Props = {
  kind: keyof typeof components | string
  href: string | undefined
  size?: number
  className?: string
}

const {kind, href, size = 8, className} = Astro.props

/// use var to parse string to lowercase
/// ensure if kind is string, it's lowercase
let formatKind = kind
if (typeof kind === 'string') {
  formatKind = kind.toLocaleLowerCase()
}

const SocialSvg = components[formatKind as keyof typeof components]
---

<a
  class='text-sm text-gray-500 transition hover:text-gray-600'
  target='_blank'
  rel='noopener noreferrer'
  href={href}
>
  <span class='sr-only'>{kind}</span>
  <SocialSvg
    class={className ??
      `fill-current text-gray-700 hover:text-primary-500 dark:text-gray-200 dark:hover:text-primary-400 h-${size} w-${size}`}
  />
</a>
