---
import Footer from '@/components/nav/footer/Footer.astro'
import Header from '@/components/nav/header/Header.astro'
import RootLayout from '@/layouts/root/RootLayout.astro'
import SectionContainer from '@/layouts/SectionContainer.astro'

interface Props {
  metaTitle?: string
  metaDescription?: string
}

const { metaTitle: title, metaDescription: description } = Astro.props
---

<RootLayout metaTitle={title} metaDescription={description}>
  <div class='flex flex-col min-h-screen'>
    <Header />
    <SectionContainer className='mb-auto'>
      <div
        class='grid grid-cols-[1fr,min(640px,100%),1fr] gap-y-8 px-4 pt-12 font-sans text-base xl:grid-cols-[1fr,minmax(auto,200px),min(744px,100%),minmax(auto,200px),1fr] xl:gap-x-9 xl:px-0 [&>*]:col-start-2 xl:[&>*]:col-start-3'
      >
        <slot />
      </div>
    </SectionContainer>
    <Footer />
  </div>
</RootLayout>
