---
const faqs = [
  {
    title: 'What is this?',
    description:
      'This is a astro template that uses tailwindcss and notion as CMS'
  },
  {
    title:
      'We use pure js/ts for scripts functionality and some react components, why?',
    description:
      "Because we want to keep the bundle size as small as possible, so we don't use any framework for the scripts"
  },
  {
    title: "But I don't need React, can I remove it?",
    description: `Of course, but some components use it and you'll have to edit these`
  },
  {
    title: 'Can I remove also tailwidcss?',
    description:
      "I mean, you can, but you'll have to basically rewrite all the template, so I don't recommend it"
  },

  {
    title: "I don't need dark mode, how can I remove it?",
    description:
      "Dark mode is embedded into tailwindcss, so you can't remove it, but you can remove the switch from the navbar"
  },

  {
    title: 'How can I configure the Notion CMS',
    description: `To configure Notion as CMS do the followings:
					<ul style="list-style: inside;">
						<li>Clone the template for notion <a href="https://jamescardona11.notion.site/Blogfolio-astro-template-4e95a6ec9dad4f6b9b3ccbe1355d6805" target="_blank">Notion Templatey</a></li>
						<li>Update the .env with the db or pages that you want</li>
						<li>Change the configuration in providers.config.ts file</li>
					</ul>`
  }
]
---

<div class='mx-auto px-6 lg:px-8'>
  <div class='mx-auto divide-y divide-gray-900/10 dark:divide-gray-100/10'>
    <h2
      class='text-2xl font-bold leading-10 tracking-tight text-gray-900 dark:text-white'
    >
      FAQs
    </h2>
    <dl
      class='mt-10 space-y-6 divide-y divide-gray-900/10 dark:divide-gray-100/10'
    >
      {
        faqs.map(faq => (
          <div class='pt-6' x-data='{ open: false }'>
            <dt>
              <span class='text-base font-semibold leading-7'>{faq.title}</span>
            </dt>
            <dd
              class='mt-2 pr-12 text-muted-foreground'
              id='faq-0'
              x-show='open'
            >
              <span class='text-base leading-7 '>
                <span set:html={faq.description} />
              </span>
            </dd>
          </div>
        ))
      }
    </dl>
  </div>
</div>
