---
import { navFooterItemsList } from '../nav-items'
import MenuItem from '../MenuItem.astro'
import { socialNetwork } from '@/lib/social-network-links'
import { siteMetadata } from '@/site-metadata'
---

<footer class='container mx-auto max-w-[58rem] pb-10'>
  {
    navFooterItemsList.length > 0 && (
      <div class='mb-4 flex flex-wrap gap-x-6 gap-y-1'>
        {navFooterItemsList.map(navItem => {
          return <MenuItem navItem={navItem} />
        })}
      </div>
    )
  }
  <div
    class:list={[
      'pt-6 flex flex-col gap-4 border-t border-dashed border-main border-zinc-500',
      {
        'sm:flex-row-reverse sm:justify-between sm:items-center text-foreground/60': true
      }
    ]}
  >
    <div class='flex flex-wrap gap-x-4 gap-y-1'>
      {
        Object.keys(socialNetwork).map(key => {
          const element = socialNetwork[key]

          return (
            <a
              class='inline-flex items-center justify-center text-sm hover:underline hover:underline-offset-2'
              href={element.link}
              target='_blank'
              rel='noopener noreferer'
            >
              {element.name}
            </a>
          )
        })
      }
    </div>

    <p class='text-sm'>
      &copy; {new Date().getFullYear()}&nbsp;<a
        class='hover:underline hover:underline-offset-2'
        href='/'>{siteMetadata.title}</a
      >. All rights reserved.
    </p>
  </div>
</footer>
